@import "tailwindcss";

html,
body,
#root {
  min-height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
  background-color: #0d1b2a;
}

@theme {
  --color-ink: #0d1b2a;
  --color-prussian: #1b263b;
  --color-dusk: #415a77;
  --color-lavender-gray: #778da9;
  --color-alabaster: #e0e1dd;
}